@model IEnumerable<MarketForYou.Models.Feirante>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.emailFei)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.passwordFei)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numVisitasFei)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.feiraID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.emailFei)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.passwordFei)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numVisitasFei)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.feiraID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.usernameFei">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.usernameFei">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.usernameFei">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
