@model IEnumerable<MarketForYou.Models.Feira>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nomeFeira)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataFeira)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.localizacaoFeira)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categoriaFeira)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numVisitasFeira)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nomeFeira)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataFeira)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.localizacaoFeira)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoriaFeira)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numVisitasFeira)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.feiraID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.feiraID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.feiraID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
