@model MarketForYou.Models.ReportErros

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ReportErros</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.anexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.anexo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descricaoErro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descricaoErro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.usernameCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.usernameCliente)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.reportId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
